.subspageparents{
    display: flex;
    background-color: #E5E5E5;
    height: 100vh;
}

.rightsidesubs{
    width: 80%;
}

.rightsideform{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
    text-align: center;
}

.rightsideform input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rightsideform button {
    width: 100%;
}